# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = settings

[deploy:local]
url = http://localhost:2001/
project = bike

[deploy:remote]
url = http://kazila.jacobessex.com:2000/
project = bike
username=scrapy
password=HeRp_DeRp
